django>=1.5.1
PIL==1.1.7
django-autoslug==1.7.1
django-haystack==2.1.0
django-recaptcha==0.0.6
# -e git://github.com/nemith/django-tagging.git@f5ed41bc9de1b454d025ff49a800cd98affc1de1#egg=django_tagging-dev
-e git://github.com/nemith/django-tagging.git@dev-django1.5#egg=django_tagging-dev

