{% extends "periodicals/periodicals_base.html" %}
{% load tagging_tags %}

{% block title %}{{block.super}} - {{periodical.name}} - {{issue.display_year}} - {{issue.display_name}} - {{article.title}}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;<a href="{% url 'periodicals_list' %}">Periodicals</a>&nbsp;>&nbsp;<a href="{{periodical.get_absolute_url}}">{{periodical.name}}</a>&nbsp;>&nbsp;<a href="{% url 'periodicals_issue_year' periodical.slug issue.pub_date|date:"Y" %}">{{issue.pub_date|date:"Y"}}</a>&nbsp;>&nbsp;<a href="{{issue.get_absolute_url}}">{{issue.display_name}}</a>{% if article.page %}&nbsp;>&nbsp;Page {{article.page}}{% endif %}</div>
{% endblock breadcrumbs %}

{% block innercontent %}
<table width="100%" style="margin-top:10px"><tr>
<td style="text-align:left">{% if previous_article %}<a class="important-link" href="{{previous_article.get_absolute_url}}" title="{{previous_article.series}}: {{previous_article.title}}">&lt; Previous Article</a>{% endif %}&nbsp;</td>
<td style="text-align:right">{% if next_article %}<a class="important-link" href="{{next_article.get_absolute_url}}" title="{{next_article.series}}: {{next_article.title}}">Next Article &gt;</a>{% endif %}&nbsp;</td>
</tr></table>

<h1>Title: {{article.title}}</h1>
{% if article.series %}
<h2>Series/Category: <a href="{% url 'periodicals_series_detail' periodical.slug article.series|urlize %}">{{article.series}}</a></h2>
{% endif %}
{% if issue.printed_cover or issue.digital_cover %}
<div class="article-image">
{% if issue.printed_cover %}
<a href="{{issue.buy_print}}"><img src="{{MEDIA_URL}}{{issue.printed_cover}}" /></a>
<br/>
{% endif %}
{% if issue.digital_cover %}
<a href="{{issue.buy_digital}}"><img src="{{MEDIA_URL}}{{issue.digital_cover}}" /></a>
{% endif %}
</div>
{% endif %}
{% with article.authors.count as count %}
<h2>Author{{ count|pluralize }}</h2>
{% endwith %}
<ul>
{% for author in article.authors.all %}
<li><a href="{{author.get_absolute_url}}">{{author.display_name}}</a></li>
{% endfor %}
</ul>
{% if article.image %}
<div class="article-image">
<img src="/{{article.image}}" />
</div>
{% endif %}

{% if article.description %}
<h2>Description</h2>
<p>{{article.description}}</p>
{% endif %}
{% if article.read_online %}
<div class="article-read-online">
<a class="important-link" href="{{article.read_online}}">Read this article online</a>
</div>
{% endif %}
{% if article.buy_digital %}
<div class="article-buy-digital">
<a href="{{article.buy_digital}}">Buy a digital reprint of this article</a>
</div>
{% endif %}
{% if article.buy_print %}
<div class="article-buy-print">
<a href="{{article.buy_print}}">Buy a paper reprint of this article</a>
</div>
{% endif %}
{% if issue.buy_digital %}
<div class="issue-buy-digital">
<a href="{{issue.buy_digital}}">Buy a digital reprint of the issue containing this article</a>
</div>
{% endif %}
{% if issue.buy_print %}
<div class="issue-buy-print">
<a href="{{issue.buy_print}}">Buy a paper reprint of the issue containing this article</a>
</div>
{% endif %}
{% comment %}
<div class="article_tags">
<h2>Article Tags</h2>
<ul>
{% tags_for_object article as tag_list %}
{% for tag in tag_list %}
<li><a href="{% url 'periodicals_article_tag_detail' tag.name|slugify %}">{{tag.name}}</a></li>
{% endfor %}
</ul>
<a href="{% url 'periodicals_tags' %}">All Article Tags</a>
</div>
<br style="clear:both;"/>
<h2>Blog Posts, Web Pages, and Videos Referring to This Article</h2>
<table class="article-table" style="margin-left:10px;margin-bottom:10px;">
{% for link in article.active_links %}
<tr class="{% cycle 'even' 'odd' %}"><td><a href="{{link.url}}">{{link.title}}</a></td></tr>
{% endfor %}
</table>

<a target="page" rel="nofollow" onClick="window.open('','page','toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=0,width=375,height=450,left=50,top=50,titlebar=0');" href="{% url 'periodicals_add_article_link' periodical_slug=periodical.slug, issue_slug=issue.slug, slug=article.slug %}">Add a related blog/web page/video to this article</a>
{% endcomment %}
<table width="100%" style="margin-top:10px"><tr>
<td width="33%" style="text-align:left">{% if previous_article %}<a class="important-link" href="{{previous_article.get_absolute_url}}" title="{{previous_article.series}}: {{previous_article.title}}">&lt; Previous Article</a>{% endif %}&nbsp;</td>
<td style="text-align:center"><a class="important-link" href="{{issue.get_absolute_url}}">All {{issue.display_name}} Articles</a></td>
<td width="33%" style="text-align:right">{% if next_article %}<a class="important-link" href="{{next_article.get_absolute_url}}" title="{{next_article.series}}: {{next_article.title}}">Next Article &gt;</a>{% endif %}&nbsp;</td>
</tr></table>
{% endblock innercontent %}
