{% extends "3column_with_menu.html" %}
{% load periodicals_tags %}

{% block title %}{{block.super}} - Articles Tagged: {{tag.name}} {% endblock %}

{% block content %}
{% spaceless %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;<a href="{% url periodicals_list %}">Periodicals</a>&nbsp;>&nbsp;<a href="{% url periodicals_tags %}">All Article Tags</a>&nbsp;>&nbsp;Tag: {{tag.name}}</div>
{% if related_tags %}
<div class="related_tags" style="float:right">
<h2>Related Tags:</h2>
<ul>
{% for related in related_tags %}
<li><a href="{% url periodicals_article_tag_detail related.name %}">{{related.name}} ({{related.count}})</a></li>
{% endfor %}
</ul>
<a href="{% url periodicals_tags %}">All Article Tags</a>
</div>
{% endif %}
<h1>Articles Tagged: {{tag.name}}</h1>
{% for article in object_list %}
<p>{{ article|article_result}}</p>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?q={{article.get_absolute_url}}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="?q={{article.get_absolute_url}}&page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endspaceless %}
{% endblock %}
