{% extends "periodicals/base.html" %}
{% load periodicals_tags %}

{% block title %}{{block.super}} - Articles Tagged: {{tag.name}} {% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;<a href="{% url 'periodicals_list' %}">Periodicals</a>&nbsp;>&nbsp;<a href="{% url 'periodicals_tags' %}">All Article Tags</a>&nbsp;>&nbsp;Tag: {{tag.name}}</div>
{% endblock breadcrumbs %}

{% block innercontent %}
{% block links %}
{% if related_tags %}
<div class="related_tags">
  <h2>Related Tags:</h2>
  <ul>
    {% for related in related_tags %}
    <li><a href="{% url 'periodicals_article_tag_detail' related.name %}">{{related.name}} ({{related.count}})</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock links %}
{% block obj_list %}
<div class="article-tag-list">
  <h1>Articles Tagged: {{tag.name}}</h1>
  {% for article in object_list %}
  <p class="article-detail">{{ article|article_result}}</p>
  {% endfor %}
</div>
{% endblock obj_list %}
{% block pagination %}
<ul class="pager">
    <li class="previous">{% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">previous</a>{% endif %}</li>
    <li class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
    <li class="next">{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">next</a>{% endif %}</li>
</ul>
{% endblock pagination %}
{% endblock innercontent %}
