{% extends "periodicals/base.html" %}

{% block title %}{{block.super}} - Author - {{author.display_name}} {% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;<a href="{% url 'periodicals_list' %}">Periodicals</a>&nbsp;>&nbsp;<a href="{% url 'periodicals_authors_list' %}">All Authors</a>&nbsp;>&nbsp;{{author.display_name}}</div>
{% endblock breadcrumbs %}

{% block content %}
<h1>Author: {{author.display_name}}</h1>
{% if author.website or author.email or author.blog or author.alt_website %}
<h2>Contact Information</h2>
<table class="author-detail-table" border="0" cellspacing="0" cellpadding="0" width="100%">
{% if author.email %}
<tr><td><b>Email:</b></td><td>{{author.email}}</td><td></td></tr>
{% endif %}
{% if author.website %}
<tr><td><b>Website:</b></td><td><a class="important-link" href="{{author.website}}">{{author.website}}</a></td><td><td></tr>
{% endif %}
{% if author.blog %}
<tr><td><b>Blog:</b></td><td><a class="important-link" href="{{author.blog}}">{{author.blog}}</a></td><td></td></tr>
{% endif %}
{% if author.alt_website  %}
<tr><td colspan="2"><a class="important-link" href="{{author.alt_website}}">Additional web page for this author</a></td><td></td></tr>
{% endif %}
</table>
{% endif %}
<h2>Articles</h2>
{% load periodicals_tags %}
{% for article in object_list %}
<p>{{ article|article_result}}</p>
{% endfor %}
</ul>
{% endblock content %}
