{% extends "periodicals/base.html" %}

{% block title %}{{block.super}} - All Authors {% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;<a href="{% url 'periodicals_list' %}">Periodicals</a>&nbsp;>&nbsp;All Authors</div>
{% endblock breadcrumbs %}

{% block innercontent %}
{% block obj_list %}
<div class="authors">
<h1>All Authors</h1>
<table class="author-list table table-bordered table-striped">
  <thead>
    <tr><th>Last Name</th><th>First Name</th><th>Articles</th></tr>
  </thead>
  <tbody>
    {% for author in author_list %}
    <tr><td><a href="{{author.get_absolute_url}}">{{author.last_name}}{% if author.postnomial %}, {{author.postnomial}}{% endif %}</a></td>
      <td>{{author.first_name}} {{author.middle_name}}</td>
      <td>{{author.articles__count}}</td></tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock obj_list %}
{% block pagination %}
<ul class="pager">
  <li class="previous"> {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">previous</a>{% endif %}</li>
  <li class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
  <li class="next">{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">next</a>{% endif %}</li>
</ul>
{% endblock pagination %}
{% endblock innercontent %}
