{% extends "periodicals/base.html" %}
{% load i18n %}
{% block title %}{{block.super}} - All Authors {% endblock %}


{% block content %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;<a href="{% url periodicals_list %}">Periodicals</a>&nbsp;>&nbsp;All Authors</div>
<h1>All Authors</h1>
<table class="author-list-table">
  <thead>
    <tr><th>Last Name</th><th>First Name</th><th>Articles</th></tr>
  </thead>
  <tbody>
    {% for author in author_list %}
    <tr><td><a href="{{author.get_absolute_url}}">{{author.last_name}}{% if author.postnomial %}, {{author.postnomial}}{% endif %}</a></td>
      <td>{{author.first_name}} {{author.middle_name}}</td>
      <td>{{author.articles__count}}</td></tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?q={{author.get_absolute_url}}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="?q={{author.get_absolute_url}}&page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
