{% extends "periodicals/base_periodical.html" %}

{% block title %}{{periodical.name}} - {{issue.display_name}} - {{issue.display_date}}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;<a href="{% url 'periodicals_list' %}">Periodicals</a>&nbsp;>&nbsp;<a href="{{periodical.get_absolute_url}}">{{periodical.name}}</a>&nbsp;>&nbsp;<a href="{% url 'periodicals_issue_year' periodical.slug issue.pub_date|date:"Y" %}">{{issue.pub_date|date:"Y"}}</a>&nbsp;>&nbsp;{{issue.display_name}}</div>
{% endblock breadcrumbs %}

{% block innercontent %}
{% block top_nav %}
<ul class="pager">
  <li class="previous">{% if previous_month %}<a class="important-link" href="{{previous_month.get_absolute_url}}">{{previous_month}}</a>{% endif %}</li>
  <li class="current"><a  class="important-link" href="{% url 'periodicals_issue_year' periodical.slug issue.pub_date|date:"Y" %}">All {{issue.pub_date|date:"Y"}} Issues</a></li>
  <li class="next">{% if next_month %}<a class="important-link" href="{{next_month.get_absolute_url}}">{{next_month}}</a>{% endif %}</li>
</ul>
{% endblock top_nav %}
{% block obj_detail %}
<h1>{{periodical.name}} {{issue.display_date}}</h1>
{% if issue.printed_cover or issue.digital_cover %}
{% if issue.printed_cover %}
<div class="article-image">
  <a href="{{issue.buy_print}}"><img src="{{MEDIA_URL}}{{issue.printed_cover}}" /></a>
</div>
{% endif %}
{% if issue.digital_cover %}
<div class="article-image">  
  <a href="{{issue.buy_digital}}"><img src="{{MEDIA_URL}}{{issue.digital_cover}}" /></a>
</div>
{% endif %}
{% endif %}

<h2>Description</h2>
<p>{{issue.description}}</p>
{% endblock obj_detail %}
{% block obj_online %}
{% if issue.read_online %}
<div class="issue-read-online">
  <a class="important-link" href="{{issue.read_online}}">Read this issue online</a>
</div>
{% endif %}
{% if issue.buy_digital %}
<div class="issue-buy-digital">
  <a href="{{issue.buy_digital}}">Buy a digital copy of this issue</a>
</div>
{% endif %}
{% if issue.buy_print %}
<div class="issue-buy-print">
  <a href="{{issue.buy_print}}">Buy a paper copy of this issue</a>
</div>
{% endif %}
{% endblock obj_online %}
{% block obj_list %}
<div class="articles">
  {% if issue.articles %}
  <h2>Articles</h2>
  <table class="article-list table table-bordered table-striped">
    <tr class="header"><th class="page-header">Page</th><th class="page-title">Title</th><th class="page-authors">Authors</th></tr>
    {% for article in issue.articles.all %}
    <tr class="{% cycle 'even' 'odd' %}"><td class="article-page-number">{% if article.page %}<a href="{{article.get_absolute_url}}">{{article.page}}</a>{% else %}&nbsp;{% endif %}</td><td><a href="{{article.get_absolute_url}}">{{article.series}}<br/>{{article.title}}</a></td><td>{% for author in article.authors.all %}<a href="{{author.get_absolute_url}}">{{author.display_name}}</a>&nbsp;{% endfor %}</td></tr>
    {% endfor %}
  </table>
  {% endif %}
  {% if not issue.articles %}
  <h2>No Articles In Database</h2>
  {% endif %}
</div>
{% endblock obj_list %}
{% block links %}
<h2>Blog Posts, Web Pages, and Videos Referring to This Issue</h2>
<table class="article-table table table-bordered table-striped" >
  {% for link in issue.active_links %}
  <tr class="{% cycle 'even' 'odd' %}"><td><a href="{{link.url}}">{{link.title}}</a></td></tr>
  {% endfor %}
</table>
<p class="add-link">
  <a target="page" rel="nofollow" onClick="window.open('','page','toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=0,width=375,height=450,left=50,top=50,titlebar=0');" href="{% url 'periodicals_add_issue_link' periodical.slug issue.slug %}">Add a related blog/web page/video to this issue</a>
</p>
{% endblock links %}

{% block pagination %}
<ul class="pager">
  <li class="previous">{% if previous_month %}<a class="important-link" href="{{previous_month.get_absolute_url}}">{{previous_month}}</a>{% endif %}</li>
  <li class="current"><a  class="important-link" href="{% url 'periodicals_issue_year' periodical.slug issue.pub_date|date:"Y" %}">All {{issue.pub_date|date:"Y"}} Issues</a></li>
  <li class="next">{% if next_month %}<a class="important-link" href="{{next_month.get_absolute_url}}">{{next_month}}</a>{% endif %}</li>
</ul>
{% endblock pagination %}
{% endblock innercontent %}
