{% extends "periodicals/base_periodical.html" %}

{% block title %}{{ block.super }} - {{periodical.name}} - Issues for {{year}} {% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;<a href="{% url 'periodicals_list' %}">Periodicals</a>&nbsp;>&nbsp;<a href="{{periodical.get_absolute_url}}">{{periodical.name}}</a> > {{year|date:"Y"}}</div>
{% endblock breadcrumbs %}

{% block innercontent %}
{% with next=next_year|date:"Y" previous=previous_year|date:"Y" %}
{% block top_nav %}
<ul class="pager">
  <li class="previous">{% if previous_year %}<a href="{% url 'periodicals_issue_year' periodical.slug previous %}">{{previous}}</a>{% endif %}</li>
  <li class="current"><a href="{{periodical.get_absolute_url}}">All {{periodical}} Years</a></li>
  <li class="next">{% if next_year %}<a href="{% url 'periodicals_issue_year' periodical.slug next %}">{{next}}</a>{% endif %}</li>
</ul>
{% endblock top_nav %}
{% block obj_list %}
<div class="issue-years">
  <h1>{{periodical.name}} Issues for {{year|date:"Y"}}</h1>
  <table class="issue-year-issues"><tr>
      {% for issue in object_list %}
      <td><a href="{{issue.get_absolute_url}}" class="result-title">{{issue.display_name}}
          {% if issue.printed_cover %}
          <div class="issue-image"><img src="{{MEDIA_URL}}{{issue.printed_cover}}"/></div>
          {% else %}
          {% if issue.digital_cover %}
          <div class="issue-image"><img src="{{MEDIA_URL}}{{issue.digital_cover}}"/></div>
          {% endif %}
          {% endif %}
      </a></td>
      {% if forloop.last %}
    </tr>
    {% else %}
    {% if forloop.counter|divisibleby:4 %}
    </tr><tr>
  {% endif %}
  {% endif %}
  {% endfor %}
  </table>
</div>
{% endblock obj_list %}
{% block pagination %}
<ul class="pager">
  <li class="previous">{% if previous_year %}<a href="{% url 'periodicals_issue_year' periodical.slug previous %}">{{previous}}</a>{% endif %}</li>
  <li class="current"><a href="{{periodical.get_absolute_url}}">All {{periodical}} Years</a></li>
  <li class="next">{% if next_year %}<a href="{% url 'periodicals_issue_year' periodical.slug next %}">{{next}}</a>{% endif %}</li>
</ul>
{% endblock pagination %}
{% endwith %}
{% endblock innercontent %}
