{% extends "3column_with_menu.html" %}
{% load i18n %}
{% block title %}{{ block.super }} - {{periodical.name}} - Issues for {{year}} {% endblock %}

{% block meta %}
{{block.super}}
<meta name="Description" content="{% trans "View all issues for this year in the database." %}">
{% endblock %}

{% block content %}
{% spaceless %}
<!-- google_ad_section_start -->
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;<a href="{% url periodicals_list %}">Periodicals</a>&nbsp;>&nbsp;<a href="{{periodical.get_absolute_url}}">{{periodical.name}}</a> > {{year}}</div>
<table width="100%" style="margin-top:10px"><tr>
<td style="text-align:left">{% if previous_year %}<a class="important-link" href="{% url periodicals_issue_year periodical.slug, previous_year %}">&lt; {{previous_year}}</a>{% endif %}&nbsp;</td>
<td style="text-align:right">{% if next_year %}<a class="important-link" href="{% url periodicals_issue_year periodical.slug, next_year %}">{{next_year}} &gt;</a>{% endif %}&nbsp;</td>
</tr></table>
<h1>{{periodical.name}} Issues for {{year}}</h1>
<table class="issue-year-issues"><tr>
{% for issue in object_list %}
<td><a href="{{issue.get_absolute_url}}" class="result-title">{{issue.display_name}}
{% if issue.printed_cover %}
<div class="issue-image"><img src="{{MEDIA_URL}}{{issue.printed_cover}}"/></div>
{% else %}
{% if issue.digital_cover %}
<div class="issue-image"><img src="{{MEDIA_URL}}{{issue.digital_cover}}"/></div>
{% endif %}
{% endif %}
</a></td>
{% if forloop.last %}
</tr>
{% else %}
{% if forloop.counter|divisibleby:4 %}
</tr><tr>
{% endif %}
{% endif %}
{% endfor %}
</table>
{% load periodicals_tags %}
<div class="copyright">{{periodical|periodical_copyright}}</div>
<!-- google_ad_section_end -->
<table width="100%" style="margin-top:10px"><tr>
<td width="33%" style="text-align:left">{% if previous_year %}<a class="important-link" href="{% url periodicals_issue_year periodical.slug, previous_year %}">&lt; {{previous_year}}</a>{% endif %}&nbsp;</td>
<td style="text-align:center"><a class="important-link" href="{{periodical.get_absolute_url}}">All {{periodical}} Years</a></td>
<td width="33%"  style="text-align:right">{% if next_year %}<a class="important-link" href="{% url periodicals_issue_year periodical.slug, next_year %}">{{next_year}} &gt;</a>{% endif %}&nbsp;</td>
</tr></table>
{% endspaceless %}
{% endblock %}
