{% extends "3column_with_menu.html" %}

{% block title %}{{block.super}} - Periodical - {{periodical.name}} - Issues and Articles With Related Online Articles/Videos{% endblock %}

{% block css %}
{{block.super}}
<style type="text/css" media="all">
#issues {float:left;width:50%;}
#articles {float:right;width:50%;}
.link-title {margin-bottom:5px;margin-top:5px;font-weight:bold;}
.link {margin-left:10px;}
</style>
{% endblock %}

{% block content %}
{% spaceless %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;<a href="{% url periodicals_list %}">Periodicals</a>&nbsp;>&nbsp;<a href="{{periodical.get_absolute_url}}">{{periodical.name}}</a>&nbsp;>&nbsp;Issues and Articles With Related Online Articles/Videos</div>

<h1>{{periodical.name}} Issues and Articles With Related Online Articles and Videos</h1>
<p>
These issues and articles have web articles, videos, and/or blog posts associated with them. Click the related links at the bottom of each Issue/Article below.
<p>
<div id="issues">
<h2>Issues</h2>
{% for issue in issues %}
<p><a href="{{issue.get_absolute_url}}" class="result-title">{{issue.display_year}} {{issue.display_name}}
{% if issue.printed_cover %}
<div class="issue-image"><img src="{{MEDIA_URL}}{{issue.printed_cover}}"/></div>
{% else %}
{% if issue.digital_cover %}
<div class="issue-image"><img src="{{MEDIA_URL}}{{issue.digital_cover}}"/></div>
{% endif %}
{% endif %}
</a>
<div class="link-title">Related Links:</div>
{% for link in issue.active_links %}
<div class="link"><a href="{{link.url}}">{{link.title}}</a></div>
{% endfor %}
</p>
{% endfor %}
</div>

<div id="articles">
<h2>Articles</h2>
{% load periodicals_tags %}
{% for article in articles %}
<div class="result">{{ article|article_result}}
<div class="link-title">Related Links:</div>
{% for link in article.active_links %}
<div class="link"><a href="{{link.url}}">{{link.title}}</a></div>
{% endfor %}
</div>
{% endfor %}
</div>
<br style="clear:both"/>
<div class="copyright">{{periodical|periodical_copyright}}</div>
{% endspaceless %}
{% endblock %}
