{% extends "periodicals/base.html" %}

{% block innercontent %}
{{block.super}}
<h2>Add a Web Page That Refers to: {{object}}</h2>
<form method="post" action="">
  {% include "periodicals/add_link_form.html" %}
</form>
{% if object.links.all %}
<h3>Existing Links</h3>
<table class="link-table table table-bordered table-striped">
  <tr class="header"><th>Name</th><th>URL</th></tr>
  {% for link in object.active_links %}
  <tr><td>{{link.title}}</td><td><a href="{{link.url}}">{{link.url}}</a></td></tr>
  {% endfor %}
</table>
{% endif %}
{% endblock innercontent %}
