{% extends "3column_with_menu.html" %}
{% load i18n %}
{% load i18n %}
{% block title %}{{block.super}} - Periodicals {% endblock %}

{% block meta %}
{{block.super}}
<meta name="Description" content="{% trans "Search over all periodicals and their issues and view all periodicals in the database." %}">
{% endblock %}

{% block content %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;Periodicals</div>
{% load periodicals_tags %}
<h1>Periodicals</h1>
<form action="{% url haystack_search %}" method="get" style="text-align:center">
  <div class="fieldWrapper"><input type="text" id="id_q" name="q" size="51"/><input type="submit" value="Search {% article_count %} Articles"/><br/>
  </div>
</form>
<p style="text-align:center">
{% for periodical in periodical_list %}
<span style="padding-right:10px"><a href="{{periodical.get_absolute_url}}" class="result-title">Browse {{periodical.name}}</a></span>
{% endfor %}
<span><a href="{% url periodicals_authors_list %}" class="result-title">Browse Authors</a></span>
</p>
<h2 style="text-align:center">Article Tags</h2>
{% include "periodicals/tag_cloud.html" %}
{% endblock %}
