{% extends "periodicals/base.html" %}
{% load periodicals_tags %}

{% block title %}{{block.super}} Periodicals {% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;Periodicals</div>
{% endblock breadcrumbs %}

{% block innercontent %}{% spaceless %}
<h1>Periodicals</h1>
<form action="{% url 'haystack_search' %}" method="get">
  <div class="fieldWrapper"><input type="text" id="id_q" name="q" size="51"/><input type="submit" value="Search {% article_count %} Articles"/><br/>
  </div>
</form>
{% for periodical in periodical_list %}
<p style="padding-right:10px"><a href="{{periodical.get_absolute_url}}" class="result-title">Browse {{periodical.name}}</a></p>
{% endfor %}
<h2>Authors</h2>
<p><a href="{% url 'periodicals_authors_list' %}" class="result-title">Browse Authors</a></p>
<h2>Article Tags</h2>
{% include "periodicals/tag_cloud.html" %}
{% endspaceless %}{% endblock innercontent %}
