{% extends "periodicals/base_periodicals.html" %}
{% load periodicals_tags %}

{% block title %}{{block.super}} Periodicals {% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;&gt;&nbsp;Periodicals</div>
{% endblock breadcrumbs %}

{% block innercontent %}
{% block periodicalsearch %}{{block.super}}{% endblock periodicalsearch %}
<div class="periodicals">
  <h2>Periodicals</h2>
  <ul>
    {% for periodical in periodical_list %}
    <li><a href="{{periodical.get_absolute_url}}">{{periodical.name}}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="periodicals-authors">
  <h2>Authors</h2>
  <p><a href="{% url 'periodicals_authors_list' %}" class="result-title">Browse Authors</a></p>
</div>
<div class="periodicals-tags">
  <h2>Article Tags</h2>
  {% include "periodicals/tag_cloud.html" %}
</div>
{% endblock innercontent %}
