{% extends "periodicals/periodical_base.html" %}

{% block title %}{{block.super}} - Periodical - {{periodical.name}} {% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;<a href="{% url 'periodicals_list' %}">Periodicals</a>&nbsp;>&nbsp;{{periodical.name}}</div>
{% endblock breadcrumbs %}

{% block content %}
{% if periodical.website or periodical.blog or periodical.logo %}
<div style="float:right;text-align:center;">
{% if periodical.logo %}
<img src="{{MEDIA_URL}}{{periodical.logo}}" style="margin-bottom:10px;"/><br/>
{% endif %}
</div>
{% endif %}
<h1>{{periodical.name}}</h1>
<div style="float:left;">
  {% if periodical.publisher %}
  <p>
    {{periodical.publisher}}<br/>
    {{periodical.address_1}}<br/>
    {% if periodical.address_2 %}
    {{periodical.address_1}}<br/>
    {% endif %}
    {{periodical.city}}, {{periodical.state}} {{periodical.zipcode}}<br/>
    {{periodical.country}}
  </p>
  {% endif %}
  <ul>
    {% if periodical.phone %}
    <li>Phone: {{periodical.phone}}</li>
    {% endif %}
    {% if periodical.email %}
    <li>Email: {{periodical.email}}</li>
    {% endif %}
    {% if periodical.website %}
    <li>Website: <a href="{{periodical.website}}">{{periodical.website}}</a></li>
    {% endif %}
    {% if periodical.blog %}
    <li>Blog: <a href="{{periodical.blog}}">{{periodical.blog}}</a></li>
    {% endif %}
  </ul>
</div>
<br style="clear:both;"/>
<p>
  <a class="important-link" href="{% url 'periodicals_read_online' periodical.slug %}">Issues and Articles Available FREE Online</a>
</p><p>
{% comment %}
  <a class="important-link" href="{% url 'periodicals_links' periodical.slug %}">Issues/Articles with Online Blog Posts, Web Pages, Videos</a>
</p>
{% endcomment %}
<h2>Years</h2>
<p class="year-list">
  {% for year in date_list %}
  <a class="year-link" href="{% url 'periodicals_issue_year' periodical.slug year|date:"Y" %}" class="result-title">{{year|date:"Y"}}</a>&nbsp;
  {% endfor %}
</p>
<p class="related-links">
  <a class="all-authors" href="{% url 'periodicals_authors_list' %}" class="result-title">Browse Authors</a>
  <a class="all-series" href="{% url 'periodicals_series_list' periodical.slug %}" class="result-title">Browse Series/Categories</a>
{% comment %} <a class="all-tags" href="{% url 'periodicals_tags' %}" class="result-title">Browse Tags</a> {% endcomment %}
</p>
{% endblock %}
