{% extends "periodicals/periodicals_base.html" %}

{% block title %}{{block.super}} - {{periodical.name}} - All Article Series{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;<a href="{% url 'periodicals_list' %}">Periodicals</a>&nbsp;>&nbsp;<a href="{{periodical.get_absolute_url}}">{{periodical.name}}</a>&nbsp;>&nbsp;All Article Series</div>
{% endblock breadcrumbs %}

{% block innercontent %}{% spaceless %}
<h1>All Article Series</h1>
<table class="series-list-table">
  <thead>
    <tr><th>Series Name</th><th>Number of Articles</th></tr>
  </thead>
  <tbody>
    {% for series in series_list %}
    <tr><td><a href="{% url 'periodicals_series_detail' periodical.slug series.series|urlencode %}">{{series.series}}</a></td>
      <td>{{series.series_count}}</td></tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?q={% url 'periodicals_series_list' %}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="?q={% url 'periodicals_series_list' %}&page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endspaceless %}{% endblock innercontent%}
