{% extends "periodicals/base_periodical.html" %}

{% block title %}{{block.super}} - {{periodical.name}} - All Article Series{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;<a href="{% url 'periodicals_list' %}">Periodicals</a>&nbsp;>&nbsp;<a href="{{periodical.get_absolute_url}}">{{periodical.name}}</a>&nbsp;>&nbsp;All Article Series</div>
{% endblock breadcrumbs %}

{% block innercontent %}
{% block obj_list %}
<div class="obj_list">
  <h1>All Article Series</h1>
  <table class="series-list table table-bordered table-striped">
    <thead>
      <tr><th>Series Name</th><th>Number of Articles</th></tr>
    </thead>
    <tbody>
      {% for series in series_list %}
      <tr><td><a href="{% url 'periodicals_series_detail' periodical.slug series.series %}">{{series.series}}</a></td>
        <td>{{series.series_count}}</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock obj_list %}
{% block pagination %}
<ul class="pager">
    <li class="previous">{% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">previous</a>{% endif %}</li>
    <li class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
    <li class="next">{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">next</a>{% endif %}</li>
</ul>
{% endblock pagination %}
{% endblock innercontent%}
