{% extends "periodicals/base_periodical.html" %}
{% load periodicals_tags %}

{% block title %}{{block.super}} - {{periodical.name}} - Series: {{series}}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">Home</a>&nbsp;>&nbsp;<a href="{% url 'periodicals_list' %}">Periodicals</a>&nbsp;>&nbsp;<a href="{{periodical.get_absolute_url}}">{{periodical.name}}</a>&nbsp;>&nbsp;<a href="{% url 'periodicals_series_list' periodical.slug %}">All Article Series</a>&nbsp;>&nbsp;{{series}}</div>
{% endblock breadcrumbs %}

{% block innercontent %}
{% block obj_list %}
<div class="series-list">
  <h1>Series: {{series}}</h1>
  <h2>Articles</h2>
  {% for article in article_list %}
  <p>{{article | article_result}}</p>
  {% endfor %}
</div>
{% endblock obj_list %}
{% block pagination %}
<ul class="pager">
    <li class="previous">{% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">previous</a>{% endif %}</li>
    <li class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
    <li class="next">{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">next</a>{% endif %}</li>
</ul>
{% endblock pagination %}
{% endblock innercontent %}
